.content {
  margin: auto;
}
.header {
  height: 80px;
}

.hero {
}

.heroTitle {
  font-size: 54px;
  max-width: 600px;
  margin-bottom: 40px;
  font-weight: 700;
}

.heroSubTitle {
  font-size: 32px;
  max-width: 600px;
  margin-bottom: 40px;
}

.wave {
  position: absolute;
  width: 100%;
  left: 0;
}

.wave2 {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1;
}

.waveContainer {
  display: block;
  height: 600px;
  width: 100px;
}

.solutions {
  background-color: #532b74;
  height: 800px;
  position: absolute;
  width: 100%;
  left: 0;
}
