/* RGB */
$color1: #532b74;
$color2: rgba(236, 164, 0, 1);
$color3: rgba(234, 248, 191, 1);
$color4: rgba(0, 105, 146, 1);
$color5: rgba(0, 29, 74, 1);

.content {
  margin: auto;
}
.header {
  height: 80px;
}

.hero {
  margin-bottom: 80px;
  min-height: 535px;
}

.brush {
  background-color: rgba(236, 164, 0, 0.4);
  height: 26px;
  position: absolute;
  width: 82%;
  right: 0;
  bottom: -3px;
  z-index: -1;
}

.heroTitle {
  font-size: 54px;
  max-width: 600px;
  margin-bottom: 40px;
  font-weight: 700;
  padding-top: 150px;
  position: relative;
}

.heroSubTitle {
  font-size: 32px;
  max-width: 600px;
  margin-bottom: 40px;
}

.solutionsHeader {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.triboxHolder {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.footer {
  width: 100%;
  position: absolute;
  left: 0;
}

.waveContainer {
  position: absolute;
  top: 0;
  width: 100%;
}

.trustedSection {
  color: #c5c5c5;
  text-align: center;
  font-size: 26px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.trustedImageContainer {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 600px;
}

.trustedImage {
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}

.trustedImage:hover {
  filter: none;
}
