.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  box-shadow: -2px -4px 20px 0px rgba(32, 41, 50, 0.12);
}

.header-inner {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  justify-content: space-between;
}
