.tribox {
  background-color: white;
  border-radius: 5px;
  position: relative;
  height: 100%;
  z-index: 2;
  margin-left: 40px;
  margin-right: 40px;
}

.tribox__image-src {
  height: 80px;
  width: 80px;
  position: absolute;
  right: 35px;
  top: -10px;
}

.tribox__subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 100;
  color: white;
}

.tribox__title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 800;
  color: white;
}

.tribox__text {
  line-height: 30px;
  max-width: 85%;
  text-align: center;
  padding-top: 20px;
}

.tribox__parro {
  width: 212px;
  z-index: -1;
  height: 56px;
  transform: skew(20deg);
  background: rgba(236, 164, 0, 1);
  position: absolute;
  left: -17px;
}
